easse @ git+https://github.com/feralvam/easse.git
fire
nltk
numpy
pandas
sentence-transformers==2.2.2
transformers==4.29.1
pytorch-lightning==1.9.5
torch==1.13.1
wandb
huggingface_hub<=0.25.2
rouge-score
sacrebleu
scikit-learn
tqdm
